<%- include("header") -%>

<h1 style="color: rgba(18, 18, 64, 0.861); margin-left: 8px; text-align: center; font-family:Arial, Helvetica, sans-serif;">About Me</h1>

<img
src="images/ME.jpg" 
style="float: left; 
height: 150px; 
width: auto; 
border-radius:50%; 
margin-top: 10px;
margin-bottom: 0px;
margin-right: 3px;"
>

<p style="font-family: Georgia, 'Times New Roman', Times, serif;">
    Hello, everyone! My name is Lakshya Singh, and I'm from Delhi. 
    I am a graduate of IIT Bombay, where I pursued my passion for coding and web development. 
    I have always been fascinated by the world of technology and the endless possibilities it offers. 
    I enjoy diving into the intricacies of programming languages and building innovative web applications.
    Throughout my academic journey, I gained valuable knowledge and practical experience in various aspects of software development, including front-end and back-end technologies.
    I am constantly seeking new challenges to expand my skills and stay up-to-date with the latest industry trends. 
    Outside of coding, I love exploring new places, capturing moments through photography, and indulging in outdoor activities.
    I'm excited to connect with like-minded individuals and collaborate on projects that push the boundaries of innovation.
    Let's build something incredible together!
</p>

<%- include("footer") -%>